html,
body {
    background: #f4f4f4;
    text-align: center;
    padding-top: 48px;
    font-family: system-ui, sans-serif;
}

.iqons {
    width: 160px;
    height: 160px;
    display: inline-block;
    margin: 8px;
    /*filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, 0.5));*/
}

#iqons {
    width: 256px;
    height: 256px;
    margin: 0 auto;
    display: block;
    background-position: 0px 16px;
    padding: 16px;
}

.small {
    padding: 4px;
    width: 80px;
    height: 80px;
    background-position: 0px 4px;
}

input {
    background: none;
    outline: none;
    border: none;
    font-size: 40px;
    font-family: inherit;
    padding: 16px;
    margin: 24px;
    text-align: center;
}
